# files to ignore
*~
*.swp
*.o
*.elf
*.bin
*.hex
*.img
*.exe
*.bak
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.gz
*.html

# folders to ignore
cos/
Documentation/build/
Documentation/source/_templates/
